* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;

  --gray-1: #fffffa;
  --gray-2: #ccc9dc;
  --gray-3: #324a5f;
  --gray-4: #1b2a41;
  --gray-5: #1C2127;
  --gray-6: #180421;

  --green: #85ffc7;
  --orange: #ff8552;
  --red: #ff0a54;
  --blue-1: #23c9ff;
  --blue-2: #20a4f3;

  --primary: #783384;
  --secondary: #E92364;

  --degrade-1: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
  --degrade-2: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);

  --shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  --font-: 'Ropa Sans', sans-serif;
  --font-2: 'Rum Raisin', sans-serif;
  --font-1: 'Saira Condensed', sans-serif;

  --border-radius: 0rem;
  --border-radius-top: 0;
  --border-radius-bottom: 0;

}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
textarea,
button {
  font: 500 1rem var(--font-2);
}
body{
  background-color: var(--gray-6);
  color: var(--gray-1);
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: 500;
  font-family: var(--font-1);
  color: var(--gray-1);
  letter-spacing: 0.1rem
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
button {
  cursor: pointer;
}
.welcomeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 0.5rem;
}
.containerCenter{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkFlex{
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
.red{
  color: var(--red);
}
.green{
  color:var(--green);
}